body {
    background-color: fff;
    width: 960 px;
    margin: 20px auto;
    font-family: Verdana;
}

button:first-of-type {
    margin-left: 20px;
}

p {
	display: inline;
}

.label {
    margin-left: 20px;
}

canvas {
    margin-left: 20px;
    margin-top: 20px;
    border-style: solid;
}